/*=============================
  ===== common css starts =====
===============================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  vertical-align: middle; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.container {
  width: 1140px;
  margin: 0 auto; }

/*===========================
  ===== common css ends =====
=============================*/
/*==========================
  ===== nav css starts =====
============================*/
.navbar {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 50%;
  transform: translateX(-50%); }
  .navbar .navbar-brand h1 {
    font-family: 'Popins', sans-serif;
    font-weight: 600;
    font-size: 36px;
    padding-left: 30px;
    position: relative; }
    .navbar .navbar-brand h1::after {
      content: "";
      height: 12px;
      width: 15px;
      background: #65e4a3;
      border-radius: 0 10px 10px 0;
      position: absolute;
      top: 7px;
      left: 0; }
    .navbar .navbar-brand h1::before {
      content: "";
      height: 15px;
      width: 20px;
      background: #65e4a3;
      border-radius: 0 10px 10px 0;
      position: absolute;
      bottom: 7px;
      left: 0; }
  .navbar .navbar-nav {
    padding: 50px 0; }
    .navbar .navbar-nav .btn {
      border: 1px solid #fff;
      color: #fff;
      border-radius: 50px;
      padding: 10px 35px;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 600;
      transition: all linear 0.4s; }
      .navbar .navbar-nav .btn:hover {
        background: #fff;
        color: #0a2640; }
    .navbar .navbar-nav .nav-item .nav-link {
      line-height: 40px;
      padding: 0 0;
      margin-right: 30px;
      font-family: var(--hfont);
      font-weight: 400;
      font-size: 14px;
      position: relative;
      z-index: 1;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 600;
      position: relative; }
      .navbar .navbar-nav .nav-item .nav-link::after {
        content: "";
        height: 2px;
        width: 0%;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all linear 0.4s; }
      .navbar .navbar-nav .nav-item .nav-link:hover::after {
        width: 100%; }
  .navbar .navbar-toggler {
    border-color: red !important; }

/*========================
  ===== nav css ends =====
==========================*/
/*=============================
  ===== banner css starts =====
===============================*/
#banner {
  background: url("../images/bg-img.png") no-repeat center/cover;
  position: relative; }
  #banner::after {
    content: "";
    height: 500px;
    width: 630px;
    background: #1c3d5b;
    border-radius: 0 0 0 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9; }
  #banner .center {
    position: relative;
    z-index: 99; }
  #banner .banner-text h6 {
    font-family: 'Popins', sans-serif;
    font-size: 36px;
    font-weight: 200;
    padding-right: 136px;
    padding-top: 220px;
    line-height: 50px;
    z-index: 99999; }
  #banner .banner-text p {
    font-family: 'Popins', sans-serif;
    font-size: 14px;
    font-weight: 200;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px; }
  #banner .banner-text a {
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 10px 35px;
    color: #fff;
    font-family: 'Popins', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px;
    transition: all linear 0.4s; }
    #banner .banner-text a:hover {
      background: #65e4a3;
      border-color: #65e4a3;
      color: #0a2640; }
  #banner .banner-image img {
    width: 83%;
    float: right;
    margin-top: 160px; }
  #banner .bottom-img {
    margin-top: 80px;
    margin-bottom: 80px; }

/*===========================
  ===== banner css ends =====
=============================*/
/*===============================
  ===== services css starts =====
=================================*/
#services {
  margin-top: 80px;
  margin-bottom: 80px; }
  #services .heading h6 {
    color: #b2b2b2;
    font-size: 16px;
    margin-bottom: 20px; }
  #services .heading h1 {
    font-family: 'Popins', sans-serif;
    font-size: 36px; }
  #services .item-area {
    margin-top: 50px; }
    #services .item-area .items {
      border-radius: 5px;
      transition: all linear 0.4s;
      padding: 40px;
      border: 1px solid #f3f1f1;
      cursor: pointer; }
      #services .item-area .items .image {
        overflow: hidden;
        transition: all linear 0.4s; }
        #services .item-area .items .image:hover {
          border-radius: 20px; }
        #services .item-area .items .image:hover img {
          border-radius: 20px;
          transform: scale(1.1); }
      #services .item-area .items img {
        transition: all linear 0.4s; }
      #services .item-area .items h4 {
        font-size: 20px;
        margin-top: 20px; }
      #services .item-area .items p {
        color: #b2b2b2;
        font-size: 16px; }
      #services .item-area .items .explore a {
        color: #000;
        font-family: 'Popins', sans-serif;
        font-size: 14px;
        font-weight: 700;
        position: relative; }
        #services .item-area .items .explore a:hover::after {
          width: 120px; }
        #services .item-area .items .explore a i {
          position: absolute;
          top: 3px;
          right: -20px; }
        #services .item-area .items .explore a::after {
          content: "";
          height: 1px;
          width: 0;
          background: #000;
          position: absolute;
          bottom: -10px;
          left: 0;
          transition: all linear 0.4s; }

/*=============================
  ===== services css ends =====
===============================*/
/*==============================
  ===== connect css starts =====
================================*/
#connect {
  margin-bottom: 80px; }
  #connect .image-area {
    margin-top: 40px;
    position: relative;
    overflow: hidden;
    width: 80%; }
    #connect .image-area:hover .overlay {
      bottom: 20px; }
    #connect .image-area img {
      border-radius: 20px; }
    #connect .image-area .overlay {
      height: 80px;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -80px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all linear 0.4s; }
      #connect .image-area .overlay .social a {
        font-size: 24px;
        margin-right: 20px; }
        #connect .image-area .overlay .social a:last-child {
          margin-right: 0; }
        #connect .image-area .overlay .social a i {
          height: 50px;
          width: 50px;
          border: 1px solid #fff;
          color: #fff;
          text-align: center;
          line-height: 50px;
          border-radius: 50%;
          transition: all linear 0.3s; }
          #connect .image-area .overlay .social a i:hover {
            transform: scale(1.3);
            border-color: transparent; }
  #connect .text-area h1 {
    margin-top: 130px;
    margin-bottom: 20px; }
  #connect .text-area .list ul {
    padding-left: 0; }
    #connect .text-area .list ul li {
      margin-right: 30px; }
      #connect .text-area .list ul li a {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        color: #000;
        font-size: 16px;
        font-weight: 500; }
        #connect .text-area .list ul li a .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 20px;
          height: 30px;
          width: 30px;
          background: #0a2640;
          border-radius: 50%;
          color: #fff; }
  #connect .text-area .btn {
    border: 1px solid #0a2640;
    padding: 10px 35px;
    border-radius: 50px;
    color: #0a2640;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Popins', sans-serif;
    transition: all linear 0.4s; }
    #connect .text-area .btn:hover {
      background: #0a2640;
      color: #fff; }

/*============================
  ===== connect css ends =====
==============================*/
/*======================================
  ===== another-connect css starts =====
========================================*/
#another-connect {
  margin-bottom: 120px;
  margin-top: 120px; }
  #another-connect .image-area {
    margin-top: 40px;
    position: relative;
    overflow: hidden;
    width: 80%; }
    #another-connect .image-area:hover .overlay {
      bottom: 20px; }
    #another-connect .image-area img {
      border-radius: 20px; }
    #another-connect .image-area .overlay {
      height: 80px;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -80px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all linear 0.4s; }
      #another-connect .image-area .overlay .social a {
        font-size: 24px;
        margin-right: 20px; }
        #another-connect .image-area .overlay .social a:last-child {
          margin-right: 0; }
        #another-connect .image-area .overlay .social a i {
          height: 50px;
          width: 50px;
          border: 1px solid #fff;
          color: #fff;
          text-align: center;
          line-height: 50px;
          border-radius: 50%;
          transition: all linear 0.3s; }
          #another-connect .image-area .overlay .social a i:hover {
            transform: scale(1.3);
            border-color: transparent; }
  #another-connect .text-area {
    padding: 30px; }
    #another-connect .text-area h1 {
      font-size: 36px;
      margin-top: 60px;
      margin-bottom: 40px; }
    #another-connect .text-area .list ul {
      padding-left: 0; }
      #another-connect .text-area .list ul li {
        margin-right: 30px; }
        #another-connect .text-area .list ul li:hover a {
          background: #0a2640;
          border-color: #0a2640;
          color: #fff; }
          #another-connect .text-area .list ul li:hover a .icon {
            color: #fff; }
        #another-connect .text-area .list ul li a {
          border: 1px solid #efefef;
          border-radius: 5px;
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          color: #000;
          font-size: 16px;
          font-weight: 500;
          padding: 10px 0;
          transition: all linear 0.4s; }
          #another-connect .text-area .list ul li a .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            margin-left: 15px;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            color: #000;
            transition: all linear 0.4s; }

/*====================================
  ===== another-connect css ends =====
======================================*/
/*===============================
  ===== template css starts =====
=================================*/
#template {
  margin-top: 20px;
  margin-bottom: 100px;
  background: #0a2640;
  padding-bottom: 50px; }
  #template .heading h3 {
    color: #fff;
    font-size: 36px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    margin-top: 80px;
    margin-bottom: 50px; }
  #template .templete-slider .slider-item {
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 80px; }
    #template .templete-slider .slider-item .heading h4 {
      font-size: 20px;
      line-height: 32px; }
    #template .templete-slider .slider-item .bottom-details {
      display: flex;
      align-items: center;
      margin-top: 50px; }
      #template .templete-slider .slider-item .bottom-details .details {
        margin-left: 15px; }
        #template .templete-slider .slider-item .bottom-details .details h5 {
          font-size: 16px;
          font-weight: 700;
          font-family: 'Open Sans', sans-serif; }
        #template .templete-slider .slider-item .bottom-details .details p {
          font-size: 14px;
          font-weight: 400;
          font-family: 'Popins', sans-serif;
          color: #696969; }
  #template .templete-slider .left-arrow {
    transition: all linear 0.4s;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 24px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: -70px;
    top: 116px;
    z-index: 9; }
    #template .templete-slider .left-arrow:hover {
      background: #fff;
      color: #0a2640; }
  #template .templete-slider .right-arrow {
    transition: all linear 0.4s;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 24px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: -70px;
    top: 116px;
    z-index: 9; }
    #template .templete-slider .right-arrow:hover {
      background: #fff;
      color: #0a2640; }

/*=============================
  ===== template css ends =====
===============================*/
/*==========================
  ===== faq css starts =====
============================*/
#faq {
  margin-bottom: 120px; }
  #faq .text-area {
    margin-top: 60px; }
    #faq .text-area h1 {
      font-family: 'Open Sans', sans-serif;
      font-size: 30px;
      padding-right: 90px; }
  #faq .faq-area {
    margin-top: 50px; }
    #faq .faq-area .faq {
      margin-top: 30px;
      border-bottom: 1px solid #bcbcbc;
      border-width: 95%;
      padding: 10px; }
      #faq .faq-area .faq .question {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer; }
        #faq .faq-area .faq .question h3 {
          font-size: 20px; }
        #faq .faq-area .faq .question i {
          height: 30px;
          width: 30px;
          text-align: center;
          line-height: 30px;
          background: #0a2640;
          border-radius: 50%;
          color: #fff;
          font-size: 20px;
          transition: all linear .4s; }
      #faq .faq-area .faq .answer {
        max-height: 0;
        overflow: hidden;
        transition: all linear .4s; }
        #faq .faq-area .faq .answer p {
          font-size: 16px;
          line-height: 26px;
          margin-top: 20px;
          margin-bottom: 0 !important; }
  #faq .faq.active .answer {
    max-height: 300px;
    animation: fade 1s linear; }
  #faq .faq.active i {
    rotate: 180deg; }
  #faq .faq.active {
    border: 1px solid #696969; }

/*==========================
  ===== faq css starts =====
============================*/
/*===========================
  ===== blog css starts =====
=============================*/
#blog {
  margin-top: 80px;
  margin-bottom: 80px; }
  #blog .heading h6 {
    color: #b2b2b2;
    font-size: 16px;
    margin-bottom: 20px; }
  #blog .heading h1 {
    font-family: 'Popins', sans-serif;
    font-size: 36px; }
  #blog .item-area {
    margin-top: 50px; }
    #blog .item-area .items {
      border: 1px solid #e9e9e9;
      border-radius: 20px;
      padding: 5px; }
      #blog .item-area .items h5 {
        margin-top: 30px;
        margin-bottom: 15px;
        font-family: 'Popins', sans-serif;
        font-size: 16px;
        font-weight: 700; }
        #blog .item-area .items h5 span {
          font-family: 'Popins', sans-serif;
          font-size: 14px;
          font-weight: 400;
          color: #b2b2b2; }
      #blog .item-area .items p {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px; }
      #blog .item-area .items .bottom-details {
        margin-top: 50px;
        margin-bottom: 20px;
        display: flex;
        align-items: center; }
        #blog .item-area .items .bottom-details .details h6 {
          font-family: 'Popins', sans-serif;
          font-size: 14px;
          margin-left: 15px; }
  #blog .button-area {
    margin-top: 50px; }
    #blog .button-area .cta-btn {
      padding: 10px 40px;
      transition: all linear 0.4s; }
      #blog .button-area .cta-btn:hover {
        background: #0a2640;
        color: #fff; }
    #blog .button-area a {
      color: #0a2640;
      border: 1px solid #0a2640;
      border-radius: 50px;
      font-family: 'Popins', sans-serif;
      font-size: 14px;
      font-weight: 700; }

/*=========================
  ===== blog css ends =====
===========================*/
/*============================
  ===== email css starts =====
==============================*/
#email {
  margin-bottom: 50px;
  margin-top: 50px; }
  #email .form-area {
    border-radius: 10px;
    background: #0a2640;
    position: relative;
    padding-bottom: 80px;
    overflow: hidden; }
    #email .form-area::after {
      content: "";
      height: 1000px;
      width: 1060px;
      background: #1c3d5b;
      border-radius: 500px 0 500px 500px;
      position: absolute;
      top: -775px;
      right: -400px;
      z-index: 9; }
    #email .form-area .heading h3 {
      position: relative;
      padding: 0 30px;
      color: #fff;
      font-size: 36px;
      font-weight: normal;
      font-family: 'Open Sans', sans-serif;
      margin-top: 80px;
      margin-bottom: 50px;
      z-index: 999; }
    #email .form-area .form {
      padding: 0 75px;
      position: relative;
      z-index: 999; }
      #email .form-area .form .form-inline {
        display: flex;
        justify-content: space-between; }
      #email .form-area .form .form-group input {
        width: 320px;
        border-radius: 50px;
        padding: 10px 20px;
        color: #000; }
        #email .form-area .form .form-group input:focus {
          border-color: #fff !important;
          box-shadow: none !important; }
      #email .form-area .form .btn {
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50px;
        padding: 10px 40px;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        transition: all linear 0.4s; }
        #email .form-area .form .btn:hover {
          color: #0a2640;
          background: #65e4a3;
          border-color: #65e4a3; }

/*==========================
  ===== email css ends =====
============================*/
/*=============================
  ===== footer css starts =====
===============================*/
#footer {
  margin-top: 150px;
  margin-bottom: 80px; }
  #footer .footer-logo h1 {
    font-family: 'Popins', sans-serif;
    font-weight: 600;
    font-size: 36px;
    padding-left: 30px;
    position: relative; }
    #footer .footer-logo h1::after {
      content: "";
      height: 12px;
      width: 15px;
      background: #65e4a3;
      border-radius: 0 10px 10px 0;
      position: absolute;
      top: 7px;
      left: 0; }
    #footer .footer-logo h1::before {
      content: "";
      height: 15px;
      width: 20px;
      background: #65e4a3;
      border-radius: 0 10px 10px 0;
      position: absolute;
      bottom: 7px;
      left: 0; }
  #footer .footer-logo p {
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #696969;
    line-height: 30px; }
  #footer .list-area ul .list-heading {
    font-weight: 700;
    color: #000; }
  #footer .list-area ul .hire {
    background: #65e4a3;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 5px;
    color: #000; }
  #footer .list-area ul li {
    margin-bottom: 30px;
    font-size: 18px;
    color: #696969;
    cursor: pointer;
    transition: all linear 0.4s; }
    #footer .list-area ul li:hover {
      padding-left: 10px; }
  #footer .copyright-area h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #696969; }

/*===========================
  ===== footer css ends =====
=============================*/
#login {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#303F9F, #7952c7);
  height: 100vh;
  padding-top: 100px; }
  #login .login-box {
    margin: auto;
    width: 280px;
    color: white;
    /* ////////////////////////////// */
    box-shadow: 1px 1px 20px 0px black;
    padding: 30px;
    border-radius: 10px; }
    #login .login-box h1 {
      text-align: center;
      font-size: 40px;
      border-bottom: 3px solid #fff;
      border-radius: 10px;
      margin-bottom: 50px;
      padding: 13px 0; }
  #login .textbox {
    display: flex;
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #fff;
    margin-right: 10px; }
    #login .textbox i {
      width: 26px;
      float: left;
      text-align: center; }
    #login .textbox input {
      border: none;
      outline: none;
      background: none;
      color: white;
      font-size: 18px;
      width: 80%;
      float: left;
      margin: 0 10px; }
  #login .btn {
    background: none;
    border: 1px solid #fff;
    border-radius: 50px;
    color: white;
    padding: 5px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    transition: 0.4s; }
    #login .btn:hover {
      background: #303F9F;
      border-color: #303F9F; }
    #login .btn:focus {
      box-shadow: none; }
  #login h5 {
    font-size: 16px; }
    #login h5 a {
      color: #212121; }

#register {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#303F9F, #7952c7);
  height: 100vh;
  padding-top: 100px; }
  #register .login-box {
    width: 500px;
    margin: auto;
    color: white;
    /* ////////////////////////////// */
    box-shadow: 1px 1px 20px 0px black;
    padding: 30px;
    border-radius: 10px; }
    #register .login-box h1 {
      text-align: center;
      font-size: 40px;
      border-bottom: 3px solid #fff;
      border-radius: 10px;
      margin-bottom: 50px;
      padding: 13px 0; }
  #register .textbox {
    display: flex;
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #fff;
    margin-right: 10px; }
    #register .textbox i {
      width: 26px;
      float: left;
      text-align: center; }
    #register .textbox input {
      border: none;
      outline: none;
      background: none;
      color: white;
      font-size: 18px;
      width: 80%;
      float: left;
      margin: 0 10px; }
  #register .btn {
    background: none;
    border: 1px solid #fff;
    border-radius: 50px;
    color: white;
    padding: 5px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    transition: 0.4s; }
    #register .btn:hover {
      background: #303F9F;
      border-color: #303F9F; }
    #register .btn:focus {
      box-shadow: none; }
  #register h5 {
    font-size: 16px; }
    #register h5 a {
      color: #212121; }

/*# sourceMappingURL=style.css.map */
