/*============================
  ===== email css starts =====
==============================*/
#email{
  margin-bottom: 50px;
  margin-top: 50px;
  .form-area{
  border-radius: 10px;
  background: #0a2640;
  position: relative;
  padding-bottom: 80px;
  overflow: hidden;
  &::after{
    content: "";
    height: 1000px;
    width: 1060px;
    background: #1c3d5b;
    border-radius: 500px 0 500px 500px;
    position: absolute;
    top: -775px;
    right: -400px;
    z-index: 9;
    }
    .heading{
      h3{
        position: relative;
        padding: 0 30px;
        color: #fff;
        font-size: 36px;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
        margin-top: 80px;
        margin-bottom: 50px;
        z-index: 999;
      }
    }
    .form{
      padding: 0 75px;
      position: relative;
      z-index: 999;
      .form-inline{
        display: flex;
        justify-content: space-between;
      }
      .form-group{
        input{
          width: 320px;
          border-radius: 50px;
          padding: 10px 20px;
          color: #000;
          &:focus{
            border-color: #fff !important;
            box-shadow: none !important;
          }
        }
      }
      .btn{
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50px;
        padding: 10px 40px;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        transition: all linear 0.4s;
        &:hover{
          color: #0a2640;
          background: #65e4a3;
          border-color: #65e4a3;
        }
      }
    }
  }
}


/*==========================
  ===== email css ends =====
============================*/