/*=============================
  ===== common css starts =====
===============================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  vertical-align: middle;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
.container{
  width: 1140px;
  margin: 0 auto;
}
/*===========================
  ===== common css ends =====
=============================*/

@import 'nav.scss';
@import 'banner.scss';
@import 'services.scss';
@import 'connect.scss';
@import 'another-connect.scss';
@import 'template.scss';
@import 'faq.scss';
@import 'blog.scss';
@import 'email.scss';
@import 'footer.scss';
@import 'login.scss';
@import 'register.scss';